body {
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
}

.start_btn {
  position: absolute;
  width: 100px;
  height: 100px;
}

.time {
  position: absolute;
  font-size: 30px;
}

.score {
  color: white;
  border-radius: 47px;
  height: 50px;
  font-size: 50px;
  background-color: orange;
}

.audio {
  display: none;
}

.background {
  width: 800px;
  height: 500px;
}

.bug:hover {
  width: 60px;
  height: 60px;
}

.carrot:hover {
  width: 90px;
  height: 90px;
}
